{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link href="{% static 'css/select.css' %}" rel="stylesheet">
    <link href="{% static 'css/better_style.css' %}" rel="stylesheet">
    <title>GitStat</title>
</head>
<body>
    <header>
        <h3>GitStat</h3>
        {% if request.session.github_token %}
        <div class="name"><strong>{{ request.session.github_user }}</strong></div>
        <a href="/logout/"><button>Выйти</button></a>
        {% else %}
        <a href="/login/"><button>Войти</button></a>
        {% endif %}
    </header>
    <main>
        <div class="top">
            <div class="choice">
            <ul class="window">
                <li>
                    <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-search">
                        <path d="M14.184 1.143v-.001l1.422 2.464a1.75 1.75 0 0 1-.757 2.451L3.104 11.713a1.75 1.75 0 0 1-2.275-.702l-.447-.775a1.75 1.75 0 0 1 .53-2.32L11.682.573a1.748 1.748 0 0 1 2.502.57Zm-4.709 9.32h-.001l2.644 3.863a.75.75 0 1 1-1.238.848l-1.881-2.75v2.826a.75.75 0 0 1-1.5 0v-2.826l-1.881 2.75a.75.75 0 1 1-1.238-.848l2.049-2.992a.746.746 0 0 1 .293-.253l1.809-.87a.749.749 0 0 1 .944.252ZM9.436 3.92h-.001l-4.97 3.39.942 1.63 5.42-2.61Zm3.091-2.108h.001l-1.85 1.26 1.505 2.605 2.016-.97a.247.247 0 0 0 .13-.151.247.247 0 0 0-.022-.199l-1.422-2.464a.253.253 0 0 0-.161-.119.254.254 0 0 0-.197.038ZM1.756 9.157a.25.25 0 0 0-.075.33l.447.775a.25.25 0 0 0 .325.1l1.598-.769-.83-1.436-1.465 1Z"></path>
                    </svg> 
                    <span><a href="/">Посмотреть чужую статистику</a></span>
                </li>
                <li>
                    <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-search">
                        <path d="M10.561 8.073a6.005 6.005 0 0 1 3.432 5.142.75.75 0 1 1-1.498.07 4.5 4.5 0 0 0-8.99 0 .75.75 0 0 1-1.498-.07 6.004 6.004 0 0 1 3.431-5.142 3.999 3.999 0 1 1 5.123 0ZM10.5 5a2.5 2.5 0 1 0-5 0 2.5 2.5 0 0 0 5 0Z"></path>
                    </svg> 
                    <span><a href="/search_user/?username={{ request.session.github_user }}">Моя статистика</a></span>
                </li>
            </ul>
            </div>
            <div class="search-block">
                <div class="window search">
                    <svg aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-search">
                        <path d="M10.68 11.74a6 6 0 0 1-7.922-8.982 6 6 0 0 1 8.982 7.922l3.04 3.04a.749.749 0 0 1-.326 1.275.749.749 0 0 1-.734-.215ZM11.5 7a4.499 4.499 0 1 0-8.997 0A4.499 4.499 0 0 0 11.5 7Z"></path>
                    </svg>
                    <form method="get" action="/search_user/">
                        <input name="username" placeholder="Введите username">
                    </form>
                </div>
            </div>
        </div>
        <div class="user-update">
            <h3>Пользователь</h3>
            <a id="update">
                <svg class="window" aria-hidden="true" height="16" viewBox="0 0 16 16" version="1.1" width="16" data-view-component="true" class="octicon octicon-search">
                    <path d="M1.705 8.005a.75.75 0 0 1 .834.656 5.5 5.5 0 0 0 9.592 2.97l-1.204-1.204a.25.25 0 0 1 .177-.427h3.646a.25.25 0 0 1 .25.25v3.646a.25.25 0 0 1-.427.177l-1.38-1.38A7.002 7.002 0 0 1 1.05 8.84a.75.75 0 0 1 .656-.834ZM8 2.5a5.487 5.487 0 0 0-4.131 1.869l1.204 1.204A.25.25 0 0 1 4.896 6H1.25A.25.25 0 0 1 1 5.75V2.104a.25.25 0 0 1 .427-.177l1.38 1.38A7.002 7.002 0 0 1 14.95 7.16a.75.75 0 0 1-1.49.178A5.5 5.5 0 0 0 8 2.5Z"></path>
                </svg>
            </a>
        </div>
        <h4><a href="{{ developer.link }}" id="developer_name">{{ developer.name }}</a></h4>
        <div class="windows">
            <div class="window">
                {{ developer.tech_stack|json_script:"tech-stack-data" }}
                <div style="position: relative; min-height: 300px; width: 400px;">
                    <canvas id="techStackChart"></canvas>
                </div>
            </div>
        <script id="commits-data" type="application/json">
        {{ developer.commit_year|safe }}
        </script>
        <div class="window">
            <div style="position: relative; min-height: 300px; width: 400px;">
                <canvas id="userCommitsChart"></canvas>
            </div>
        </div>
        </div>
        <h3>Репозиторий</h3>
        <div class="github-custom-dropdown">
  <select id="real-select" style="display: none;">
    <option value="">Выберите репозиторий</option>
    {% for repo in repositories %}
    <option value="{{ repo }}">{{ repo }}</option>
    {% endfor %}
  </select>
  
  <div class="dropdown-button" id="dropdownButton">
    <div class="button-content">
      <span class="selected-value">Выберите репозиторий</span>
      <div class="repo-count">{{ repositories|length }} repos</div>
    </div>
  </div>
  
  <div class="dropdown-menu" id="dropdownMenu">
    <div class="menu-items">
      <!-- Пустой элемент -->
      <div class="menu-item empty-item" data-value="">
        <div class="item-left">
          <svg width="16" height="16" viewBox="0 0 16 16" class="repo-icon empty-icon">
            <path fill="#8b949e" d="M2 2.5A2.5 2.5 0 014.5 0h8.75a.75.75 0 01.75.75v12.5a.75.75 0 01-.75.75h-2.5a.75.75 0 010-1.5h1.75v-2h-8a1 1 0 00-.714 1.7.75.75 0 01-1.072 1.05A2.495 2.495 0 012 11.5v-9zm10.5-1V9h-8c-.356 0-.694.074-1 .208V2.5a1 1 0 011-1h8zM5 12.25v3.25a.25.25 0 00.4.2l1.45-1.087a.25.25 0 01.3 0L8.6 15.7a.25.25 0 00.4-.2v-3.25a.25.25 0 00-.25-.25h-3.5a.25.25 0 00-.25.25z"/>
          </svg>
          <span class="item-text empty-text">Не выбрано</span>
        </div>
        <svg class="check-icon" width="16" height="16" viewBox="0 0 16 16" style="display: none;">
          <path fill="#0969da" d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"/>
        </svg>
      </div>
      
      {% for repo in repositories %}
      <div class="menu-item" data-value="{{ repo }}">
        <div class="item-left">
          <svg width="16" height="16" viewBox="0 0 16 16" class="repo-icon">
            <path fill="#57606a" d="M2 2.5A2.5 2.5 0 014.5 0h8.75a.75.75 0 01.75.75v12.5a.75.75 0 01-.75.75h-2.5a.75.75 0 010-1.5h1.75v-2h-8a1 1 0 00-.714 1.7.75.75 0 01-1.072 1.05A2.495 2.495 0 012 11.5v-9zm10.5-1V9h-8c-.356 0-.694.074-1 .208V2.5a1 1 0 011-1h8zM5 12.25v3.25a.25.25 0 00.4.2l1.45-1.087a.25.25 0 01.3 0L8.6 15.7a.25.25 0 00.4-.2v-3.25a.25.25 0 00-.25-.25h-3.5a.25.25 0 00-.25.25z"/>
          </svg>
          <span class="item-text">{{ repo }}</span>
        </div>
        <svg class="check-icon" width="16" height="16" viewBox="0 0 16 16" style="display: none;">
          <path fill="#0969da" d="M13.78 4.22a.75.75 0 010 1.06l-7.25 7.25a.75.75 0 01-1.06 0L2.22 9.28a.75.75 0 011.06-1.06L6 10.94l6.72-6.72a.75.75 0 011.06 0z"/>
        </svg>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
        <div id="repo-card"></div>
        <div id="contributors"></div>
    </main>
    <script src="{% static 'js/script.js' %}"></script>
    <script src="{% static 'js/script_select.js' %}"></script>
    <script src="{% static 'js/my_chart.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>
</html>