html{
    font-family: "SFMono-Regular", Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

* {
    font-family: inherit;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #F6F8FA;
    border-bottom: 1px solid #9e9e9e80;
    align-items: center;
    padding: 10px 50px;
}
header button {
    width: 75px;
    height: 35px;
    font-weight: 700;
    font-size: 16px;
    
    background-color: #F6F8FA;
    border-radius: 10px;
    border-color:#9E9E9E80;
}
header h3{
    margin: 0 auto 0 0;
    font-weight: 700;
    font-size: 24px;
}

ul {
    list-style-type: none;
}

main{
    margin: 0 25px;
}

.window{
    border-radius: 10px;
    border: 1px solid #9E9E9E80;
    padding: 10px;
    width: fit-content;
}
.window.search{
    display: flex;
    background-color: #F6F8FA;
    width: 100%;
    gap: 10px;
    box-sizing: border-box;
    margin-bottom: 15px
}

.search-block{
    width: 520px;
    justify-items: center;
    margin: 25px auto 0;
}

input{
    width: 100%;

    border: none;
    background: transparent;
    outline: none;
}

input::placeholder {
    color: #6e7781;
    opacity: 0.8;
}

.choice{
    width: 350px;
    justify-items: center;
}

span{
    margin: 0 auto;
}
ul.window{
    display: grid;
    width: 100%;
    box-sizing: border-box;
    gap: 5px;
}
li{
    display: flex;
    gap: 10px;
}

/*Тут кончается main и начинается statistic*/

.top{
    display: flex;
}